<template>
  <div class="page">
    设计模式----观察者模式
    <el-button size="small" @click="handleClick">触发通知</el-button>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import { RegisterEvent, PostEvent, ValueChangedEvent } from "./event";
export default Vue.extend({
  name: "name",

  components: {},
  props: {},
  data() {
    return {};
  },
  methods: {
    init() {
      // 注册事件
      new RegisterEvent(ValueChangedEvent, (event: any) => {
        console.log("index---------RegisterEvent-----", event);
      });
    },
    handleClick() {
      // 执行事件
      new PostEvent(new ValueChangedEvent());
    },
  },
  mounted() {
    this.init();
  },
});
</script>

<style scoped lang="scss">
</style>
