<template>
  <div class="page">
    moduleTwo
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
export default Vue.extend({
  name:"moduleTwo",

  components: {

  },
  props: {

  },
  data() {
    return {

    }
  },
  methods: {

  },
  mounted() {

  },
})
</script>

<style scoped lang="scss">

</style>
