<template>
<!-- 生成条形码 -->
  <div class="page">
    <img id="barcode" ref="barcode"/>
  </div>
</template>

<script>
import JsBarcode from 'jsbarcode'
export default {
  name:"BarCode",

  components: {

  },
  props: {

  },
  data() {
    return {

    }
  },
  methods: {
    init(){
      this.$nextTick(() => {
        // 生成条形码
        let barcode = "12345678901"
        // https://github.com/lindell/JsBarcode/wiki/Options
        JsBarcode("#barcode", barcode,{
          height: 20,
          width: 1,
          // displayValue: false,
        });
      })
    }
  },
  mounted() {
    this.init();
  },
}
</script>

<style scoped lang="scss">

</style>
