<template>
  <div class="canvas-page">
    <canvas id="canvas" width="600" height="300"></canvas>
  </div>
</template>

<script>
export default{
  name:"Canvas",
  components: {},
  props: {},
  data() {
    return {}
  },
  methods: {
    init(){
      let canvas = document.getElementById('canvas');
      let ctx = canvas.getContext('2d');
      let raf;
      let running = false;

      let ball = {
        x: 100,
        y: 100,
        vx: 5,
        vy: 1,
        radius: 25,
        color: 'blue',
        draw: function() {
          ctx.beginPath();
          ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, true);
          ctx.closePath();
          ctx.fillStyle = this.color;
          ctx.fill();
        }
      };

      let clear = ()=> {
        ctx.fillStyle = 'rgba(255,255,255,0.3)';
        ctx.fillRect(0,0,canvas.width,canvas.height);
      }

      let draw =()=> {
        clear();
        ball.draw();
        ball.x += ball.vx;
        ball.y += ball.vy;
        // 边界
        if (ball.y + ball.vy > canvas.height || ball.y + ball.vy < 0) {
          ball.vy = -ball.vy;
        }
        if (ball.x + ball.vx > canvas.width || ball.x + ball.vx < 0) {
          ball.vx = -ball.vx;
        }

        raf = window.requestAnimationFrame(draw);
      }

      canvas.addEventListener('mousemove', function(e){
        if (!running) {
          clear();
          ball.x = e.offsetX;
          ball.y = e.offsetY;
          ball.draw();
        }
      });

      canvas.addEventListener('click',function(e){
        if (!running) {
          raf = window.requestAnimationFrame(draw);
          running = true;
        }
      });

      canvas.addEventListener('mouseout', function(e){
        window.cancelAnimationFrame(raf);
        running = false;
      });

      ball.draw();

    }
  },
  mounted() {
    this.init();
  },
}
</script>

<style scoped lang="scss">

.canvas-page{
  border: 1px solid red;
  height: 100%;
}
</style>
