<template>
  <div class="page">
    倒计时：{{countDown}}
  </div>
</template>

<script>
// 倒计时
export default{
  name: "name",

  components: {},
  props: {},
  data() {
    return {
      intervalTask:{},
      countDown: ""
    };
  },
  methods: {
    // 倒计时 参数为秒
    loadCountDown(time) {
      let newTime = time;
      let that = this;
      that.intervalTask = setInterval(function () {
        newTime--;
        let hour = Math.floor(newTime / 3600);
        let minute = Math.floor(newTime / 60);
        let second = newTime % 60;
        if (hour > 0) {
          minute = Math.floor((newTime - hour * 3600) / 60);
          that.countDown =
            hour + "小时" + (minute > 0 ? minute + "分钟" : "") + second + "秒";
          return;
        }
        if (minute > 0) {
          that.countDown = minute + "分钟" + second + "秒";
          return;
        }
        that.countDown = second + "秒";
        if (newTime === 0) {
          console.log("定时任务关闭了。。。。。。。。");
          window.clearInterval(that.intervalTask);
        }
      }, 1000);
    },
  },
  mounted() {
    this.loadCountDown(200);
  },
};
</script>

<style scoped lang="scss">
</style>
