<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
  <title>public-template</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app">
    public index.html
  </div>
  <!-- built files will be auto injected -->
</body>

</html>
<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular, PingFang SC;
  }
  body{
    background: url('./bg.png');
  }
</style>