<template>
  <div class="page">
    <div class="qr-code">
      <canvas id="qrCodeCanvas"></canvas>
    </div>
  </div>
</template>

<script>
import QRCode from 'qrcode'
export default{
  name:"QrCode",

  components: {

  },
  props: {

  },
  data() {
    return {

    }
  },
  methods: {
    init(){
      let url = "http://www.baicu.com"
      // https://www.npmjs.com/package/qrcode#options
      QRCode.toCanvas(document.getElementById('qrCodeCanvas'), url, { width: 160 }, function (error) {
        // eslint-disable-next-line no-console
        if (error) console.error(error)
        // eslint-disable-next-line no-console
        console.log('success!');
      })
    }
  },
  mounted() {
    this.init();
  },
}
</script>

<style scoped lang="scss">

</style>
