<template>
  <div class="left-nav-sidebar">
    <div class="navs">
      <template v-for="(nav, index) of navs">
        <div
          :key="index"
          class="nav"
          @click="handleNavClick(nav.path)"
          :class="{ 'is-active': isActive === nav.path }"
        >
          {{ nav.name }}
        </div>
      </template>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
export default Vue.extend({
  name: "LeftNavSidebar",
  components: {},
  props: {},
  data() {
    return {
      isActive: "",
      navs: [
        { id: 1, name: "模块1", path: "ModuleOne" },
        { id: 2, name: "模块2", path: "ModuleTwo" },
        { id: 3, name: "canvas", path: "Canvas" },
        { id: 4, name: "iframe", path: "Iframe" },
        { id: 5, name: "树", path: "Tree" },
        { id: 6, name: "倒计时", path: "CountDown" },
        { id: 7, name: "条形码", path: "BarCode" },
        { id: 8, name: "二维码", path: "QrCode" },
        { id: 9, name: "拖拽", path: "VueDraggable" },
        { id: 10, name: "观察者模式", path: "Observer" },
      ],
    };
  },
  methods: {
    handleNavClick(pathName: string) {
      this.isActive = pathName;
      this.$router.push({ name: pathName });
    },
  },
  mounted() {},
});
</script>

<style scoped lang="scss">
.left-nav-sidebar {
  padding: 10px 0;
  .navs {
    .nav {
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
    }
    .nav:hover {
      color: #3a9d80;
      background: #eef7f7;
    }
    .is-active {
      color: #fff !important;
      background: #3a9d80 !important;
    }
  }
}
</style>
