<template>
  <div class="page">
    <!-- 这是 iframe 子组件 -->
    <el-button type="" @click="clossePage">关闭</el-button>
  </div>
</template>

<script>
export default{
  name:"name",

  components: {

  },
  props: {

  },
  data() {
    return {

    }
  },
  methods: {
    /**
     * 关闭页面 抛出关闭事件
     */
    clossePage() {
      window.top.postMessage({ fromType: 'flow', eventName: 'create-flow', status: true }, '*')
      return;
    },
  },
  mounted() {

  },
}
</script>

<style scoped lang="scss">

</style>
