<!--
 * @Descripttion: iframe 内嵌，子组件向父组件抛出事件
-->
<template>
  <div>
    iframe 父子组件 将通知事件的注册
    <iframe
      :src="url"
      frameborder="0"
      style="background-color: transparent; width: 100%; min-height: 100%"
    ></iframe>
  </div>
</template>

<script>
export default {
  name: "IframeWrapper",
  data() {
    return {
      url: "https://www.baidu.com/",
    };
  },
  watch: {
    $route(val) {
      this.url = val.query.url;
    },
  },
  created() {
    let that = this;
    // 监听子组件抛出的事件
    window.addEventListener("message", function (event) {
      if (
        event.data.eventName === "create-flow" &&
        event.data.fromType === "flow"
      ) {
        //  todo 要执行的方法
        console.log(that);
      }
    });
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
</style>
