<template>
  <div class="login-page">
    <div class="login-page-inner">
      <div class="login-title">登录</div>
      <el-form :model="formData" ref="loginForm">
        <el-form-item>
          <el-input v-model="formData.username" placeholder="请输入账号">
            <i slot="prefix" class="el-input__icon el-icon-user"></i>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input
            v-model="formData.password"
            placeholder="请输入密码"
            type="password"
          >
            <i slot="prefix" class="el-input__icon el-icon-lock"></i>
          </el-input>
        </el-form-item>
      </el-form>
      <el-button size="small" class="login-btn" @click="submitForm"
        >登录</el-button
      >
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from "vue";
import userModel from '@/common/js/userModel';
export default Vue.extend({
  name: "Login",
  components: {},
  props: {},
  data() {
    return {
      formData: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    submitForm() {
      (this.$refs["loginForm"] as any).validate((valid: boolean) => {
        if (valid) {
          userModel.doLogin(this.formData);
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
  mounted() {},
});
</script>

<style scoped lang="scss">
.login-page {
  height: 100%;
  width: 100%;
  background-color: #52ab8f;
  .login-page-inner {
    position: absolute;
    z-index: 99;
    top: 30%;
    left: 39%;
    width: 320px;

    padding: 20px 40px;
    background: white;
    -webkit-box-shadow: 0 0 0 rgb(58 127 158 / 35%);
    box-shadow: 0 0 0 rgb(58 127 158 / 35%);
    border-radius: 4px;
  }

  .login-title {
    font-size: 18px;
    text-align: center;
    padding: 10px 0 20px;
    font-weight: 700;
  }

  .login-btn {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(
      to right,
      #5ac66a 0%,
      #3aa27f 60%,
      #207b5d 100%
    );
    transition: all 3s;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
}
</style>
