<template>
  <div class="page-enter">
    <div class="page-header">
      <!-- 顶部导航 -->
      <top-nav-sidebar></top-nav-sidebar>
    </div>
    <div class="container">
      <!-- 左侧菜单 -->
      <div class="left-sidebar">
        <left-nav-sidebar></left-nav-sidebar>
      </div>
      <!-- 内容展示区域 -->
      <div class="right-sidebar">
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </div>
    </div>
  </div>
</template>
<script>
import LeftNavSidebar from "./navs/leftNavSidebar.vue";
import TopNavSidebar from "./navs/topNavSidebar.vue";
export default {
  name: "PageEnter",
  components: {
    LeftNavSidebar,
    TopNavSidebar,
  },
};
</script>
<style lang="scss" scoped>
.page-enter {
  height: 100% !important;
  .page-header {
    height: 48px;
    border-bottom: 1px solid #dfdfdf;
  }
  .container {
    display: flex;
    height: calc(100% - 50px);
    .left-sidebar {
      width: 200px;
      border-right: 1px solid #dfdfdf;
    }
    .right-sidebar {
      flex: 1;
    }
  }
}
</style>
