<template>
  <div class="page">moduleOne</div>
</template>

<script lang='ts'>
import Vue from "vue";
export default Vue.extend({
  name: "moduleOne",

  components: {},
  props: {},
  data() {
    return {};
  },
  methods: {},
  mounted() {},
});
</script>

<style scoped lang="scss">
</style>
