<!--
 * @Descripttion: tree 节点中查询的接口 高亮展示
-->
<template>
 <div>
   <div>高亮显示搜索结果</div>
    <el-input v-model="keyword" size="small" placeholder="节点搜索" :style="{width:'200px'}"></el-input>
      <el-tree
        node-key="id"
        :data="treeData"
        :props="defaultProps"
        @node-click="handleNodeClick"
      >
        <template slot-scope="{ node, data }">
          <div class="tree-current-title">
            <span v-html="treeLabelFormat(data)"></span>
          </div>
        </template>
      </el-tree>
 </div>
</template>

<script>
export default {
  name: "Tree",
  components: {},
  props: {},
  data() {
    return {
      treeData: [],
      keyword:"",
      defaultProps: {
        children: "children",
        label: "label",
      },
    };
  },
  mounted(){
    this.loadProcessTree();
  },
  methods: {
    // 加载分类
    loadProcessTree() {
      this.treeData = [
      {
          label: '一级 1',
          children: [{
            label: '二级 1-1',
            children: [{
              label: '三级 1-1-1'
            }]
          }]
        }, {
          label: '一级 2',
          children: [{
            label: '二级 2-1',
            children: [{
              label: '三级 2-1-1'
            }]
          }, {
            label: '二级 2-2',
            children: [{
              label: '三级 2-2-1'
            }]
          }]
        }, {
          label: '一级 3',
          children: [{
            label: '二级 3-1',
            children: [{
              label: '三级 3-1-1'
            }]
          }, {
            label: '二级 3-2',
            children: [{
              label: '三级 3-2-1'
            }]
          }]
        }]
    },
  
    // tree节点点击事件
    handleNodeClick(node) {
     
    },
    // tree 高亮匹配 查询的内容
    treeLabelFormat(data) {
      if (data.label.includes('<span style="color:red">')) {
        data.label = data.label.replace('<span style="color:red">', "");
        data.label = data.label.replace("</span>", "");
      }
      if (!this.keyword) {
        return data.label;
      }
      if (data.label.includes(this.keyword)) {
        return data.label.replace(
          this.keyword,
          `<span style="color:red">${this.keyword}</span>`
        );
      }
    },
    closeDialog() {
      this.dialogVisible = false;
    },
  },
};
</script>
 