<template>
  <div class="page">
    <ul class="type-list">
      <draggable :list="dataList" ghost-class="ghost" @sort="handleSortChange">
        <li v-for="(item, index) of dataList" :key="index">
          <span @click="exgLeftBar(item)">{{ item.name }}</span>
        </li>
      </draggable>
    </ul>
  </div>
</template>
<script>
import Draggable from "vuedraggable";
export default {
  name: "VueDraggable",
  components: {
    Draggable,
  },
  data() {
    return {
      dataList: [
        { id: 1, name: "demo-1" },
        { id: 2, name: "demo-2" },
        { id: 3, name: "demo-3" },
        { id: 4, name: "demo-4" },
        { id: 5, name: "demo-5" },
      ],
    };
  },
  methods: {
    handleSortChange(val) {
      console.log("handleSortChange事件", val);
    },
    exgLeftBar(item) {
      console.log("点击事件", item);
    },
  },
};
</script>
<style scoped lang="scss">
.type-list {
  li {
    padding: 10px;
    border-bottom: 1px solid rgba($color: #999, $alpha: 0.5);
  }
}
</style>
